body {
    background-color: beige;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-weight: bolder;
}

.input-username {
    text-align: center;
}

.input-password {
    text-align: center;
}

.submit-button {
    text-align: center;
}

label {
    font-weight: bolder;
}

footer {
    text-align: center;
}