<div class="logout-page">
    <div class="logout-title">
        <h2>You have been logged out.</h2>    
    </div>
    <div class="linked-to-login">
        <a href="login/form">Click here to Login</a>
    </div>
</div>